// Reset
* {
  margin: 0px;
  padding: 0px;
}
img {
  display: block;
  max-width: 100%;
}
// Colors
$gradient-violet: hsl(273, 75%, 66%);
$gradient-blue: hsl(240, 73%, 65%);

$color-text1: hsl(238, 29%, 16%);
$color-text2: hsl(14, 88%, 65%);

$text0: hsl(237, 12%, 33%);
$text1: hsl(240, 6%, 50%);
// Fonts
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
// Site
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient($gradient-violet, $gradient-blue);
  font-family: "Kumbh Sans";
  font-weight: 400;
  main {
    display: grid;
    grid-template-columns: repeat(2, 500px);
    padding: 30px 60px 30px 0px;
    background-color: white;
    border-radius: 20px;
  }
}
.box-right {
  h1 {
    margin-bottom: 20px;
    font-weight: 700;
  }
  .container {
    border-bottom: 2px solid hsl(240, 5%, 91%);
    padding-right: 20px;
    margin-bottom: 20px;
    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      h2 {
        font-size: 1rem;
        color: $text0;
        margin-bottom: 15px;
        &:hover {
          color: $color-text2;
        }
      }
      img {
        width: 10px;
        height: 7px;
      }
    }
    p {
      margin-bottom: 15px;
      color: $text1;
    }
  }
}
